<p>
  careers works!
</p>

<nav class="navbar nav-second navbar-default" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#first">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand hidden-sm hidden-md hidden-lg" href="#"><img src="http://suncoastdiesel-com.3dcartstores.com/assets/images/logo.png" alt="Brand" width="180" /></a>
      </div>
      <div class="collapse navbar-collapse" id="first">
          <ul class="nav navbar-nav">
              <li><a href="#">Transmissions</a></li>
              <li><a href="#">Converters</a></li>
              <li><a href="#">Rebuild Kits</a></li>
              <li class="hidden-xs"><a href="#"><img src="http://suncoastdiesel-com.3dcartstores.com/assets/images/logo.png" alt="Brand" width="180" /></a></li>
              <li><a href="#">Accessories</a></li>
              <li><a href="#">Pages</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact</a></li>
          </ul>
      </div>
  </div>
</nav>

