<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="./" class="navbar-brand"><img src="../../assets/logo-normal.png"></a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a [routerLink]="['/home']" routerLinkActive="active" >Livewire</a>
        </li>
       
        <li>
          <a [routerLink]="['/annotation']" routerLinkActive="active" >Annotation</a>
        </li>
        <li>
          <a [routerLink]="['/data-collection']" routerLinkActive="active" >Data-Collection</a>
        </li>
        <li>
          <a [routerLink]="['/it-services']" routerLinkActive="active" >IT</a>
        </li>
        <li>
          <a [routerLink]="['/contact']" routerLinkActive="active" >Contact</a>
        </li>
        <li>
          <a [routerLink]="['/blog']" routerLinkActive="active" >Blog</a>
        </li>
        <li>
          <a [routerLink]="['/career']" routerLinkActive="active" >Career</a>
        </li>
      </ul>
    </nav>
  </div>
</header>